<!DOCTYPE html>
<html>

<head>
    <title>Firewall</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Triage</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/anomalies">Anomalies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/firewall">Firewall</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-3">Blocked Websites and MAC Addresses</h1>
                {% if not blocked_websites and not blocked_mac_addresses %}
                <p>No devices blocked.</p>
                {% else %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>IP Address</th>
                            <th>MAC Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set last_ip = None %}
                        {% for ip in blocked_ip_addresses %}
                        {% if ip != last_ip %}
                        <tr>
                            <td>{{ ip }}</td>
                            <td></td>
                            <td>
                                <form action="/unblock_ip" method="post">
                                    <input type="hidden" name="ip" value="{{ ip }}">
                                    <button type="submit" class="btn btn-danger">Unblock</button>
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                        {% set last_ip = ip %}
                        {% endfor %}
                        {% set last_mac_address = None %}
                        {% for mac_address in blocked_mac_addresses %}
                        {% if mac_address != last_mac_address %}
                        <tr>
                            <td></td>
                            <td>{{ mac_address }}</td>
                            <td>
                                <form action="/unblock_mac" method="post">
                                    <input type="hidden" name="mac_address" value="{{ mac_address }}">
                                    <button type="submit" class="btn btn-danger">Unblock</button>
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                        {% set last_mac_address = mac_address %}
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <h1 class="mt-3">Block Website or MAC Address</h1>
                <form action="/block_ip" method="post">
                    <div class="mb-3">
                        <label for="ip" class="form-label">IP Address:</label>
                        <input type="text" name="ip" id="ip" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Block</button>
                </form>
                <form action="/block_mac" method="post">
                    <div class="mb-3">
                        <label for="mac_address" class="form-label">MAC Address:</label>
                        <input type="text" name="mac_address" id="mac_address" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Block</button>
                </form>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <h1 class="mt-3">Malicious Devices</h1>
                {% if ip_mac_mappings %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>IP</th>
                            <th>MAC Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set processed_ips = [] %}
                        {% for ip, mac_address in ip_mac_mappings %}
                        {% if ip not in processed_ips %}
                        <tr>
                            <td>{{ ip }}</td>
                            <td>{% if mac_address == "entries" %}Not Found{% else %}{{ mac_address }}{% endif %}</td>
                            <td>
                                <form action="/block_ip" method="post">
                                    <input type="hidden" name="ip" value="{{ ip }}">
                                    <button type="submit" class="btn btn-danger">Block</button>
                                </form>
                            </td>
                        </tr>
                        {% set _ = processed_ips.append(ip) %}
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No Malicious Devices Found</p>
                {% endif %}
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <h1 class="mt-3">Devices With High Bandwidth Usage</h1>
                {% if highband_ips %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>IP</th>
                            <th>Usage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ip,payload_size in highband_ips %}
                        <tr>
                            <td>{{ ip }}</td>
                            <td>{{ payload_size }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No High Bandwidth Devices Found</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>